body {
  font-family: arial, sans-serif;
}
button {
  display: inline-block;
  border-radius: 20px;
  line-height: 20px;
  background-color: green;
  color: white;
  width: 100%;
}

ul {
  padding: 0;
}

p {
  font-size: small;
}

a:link {
  text-decoration: none;
}

input[type="search"] {
  border-radius: 15px;
  line-height: 30px;
  border-width: 0.5px;
  display: flex;
  width: 100%;
}

input[type="submit"] {
  border-radius: 20px;
  line-height: 20px;
  width: 100%;
}

.container {
  padding: 30px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.card-body {
  background: #d9edfd;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.current-city {
  padding: 0px;
  margin: 0;
  font-size: 30px;
  color: blue;
  opacity: 50%;
}

.date-time {
  padding: 0px;
  margin-top: 0;
  color: red;
  font-size: 18px;
  line-height: 18px;
}

.weather-description {
  padding: 0px;
  margin: 0;
  color: blue;
  padding-bottom: 20px;
  line-height: 18px;
}

.col-6 {
  font-size: 40px;
  padding-bottom: 28px;
}

.col-4 {
  font-size: 12px;
}

.forecast {
  padding-top: 100px;
}
